.card
  %h3 New Report - Fill in as much detail as you can
  
  = form_for(@fake, html: { class: 'modern-form' }) do |f|
    = hidden_field_tag('user_id', (current_user ? current_user.id : nil))
    
    .row
      .col-md-6
        %h4 Report Details
        
        .form-group
          %label
            %strong What type of fake hate crime?
          - MediaType.all.reverse.each do |s|
            .radio-item
              - if @fake.get( :media_type_id )
                - if @fake.get( :media_type_id ) == s.id
                  = radio_button_tag 'media_type_id', s.id, checked: true
                  = s.name
                - else
                  = radio_button_tag 'media_type_id', s.id
                  = s.name
              - else
                - if s.name == SUSPECTED
                  = radio_button_tag 'media_type_id', s.id, checked: true
                  = s.name
                - else
                  = radio_button_tag 'media_type_id', s.id
                  = s.name
        
        .form-group
          %label
            %strong Approximate date of hoax
          #calendar
            = calendar_date_select_tag "date", @fake.date.blank?? [] : @fake.date_mmm_d_yyyy, :year_range => 100.years.ago..0.years.ago
        
        .form-group
          %label
            %strong City
          = text_field_tag :city, @fake.city, class: 'form-control'
        
        .form-group
          %label
            %strong State
          = text_field_tag :state, @fake.state, class: 'form-control'
        
        .form-group
          %label
            %strong Reason - why you think it's a hoax
          = text_area_tag :reason, @fake.reason, size: "17x9", class: 'form-control'
          %small.text-muted URLs in this field will be automatically converted to links when saved.
      
      .col-md-6
        %h4 Choose Articles or Programs
        .media-selection
          - Medium.list( nil ).each do |medium|
            .media-item
              = check_box_tag "media_id_#{ medium.id }", medium.id
              = medium.get :title
        
        %h4 Add New Article or Program
        = render partial: 'media/new', locals: {what: 'fake', medium: @medium}
    
    .text-center.mt-20
      = f.submit HIT_THIS_BUTTON, class: 'btn btn-success btn-lg', data: { disable_with: SAVING_BE_PATIENT }

.text-center.mt-20
  = link_to '← Back to Reports', "/reports", class: 'btn btn-primary'
